.Detra_Mcmunn {
  font-size: 40px;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1182.844px;
  top: 1439.5px;
  z-index: 741;
}


.Long_Beach__CA {
  font-size: 26px;
  font-family: "TitilliumWeb";
  color: rgb(189, 202, 219);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1182.937px;
  top: 1494.576px;
  z-index: 740;
}
